In [2]:
import pandas as pd

In [58]:
#csv_path
etna2001_VEI3_csv = "./Data/Etna2001_VEI3.csv"
#etna2001B_VEI2_csv = "./Data/etna2001B_VEI3.csv"
etna2002_VEI3_csv = "./Data/Etna2002_VEI3.csv"
gamala2011_VEI3_csv = "./Data/Gamala2011_VEI3.csv"
grimsvotn1996_VEI3_csv = "./Data/Grimsvotn1996_VEI3.csv"
hudson1991_VEI5_csv = "./Data/Hudson1991_VEI5.csv"
kasatochi2008_VEI3_csv = "./Data/Kasatochi2008_VEI3.csv"
kilauea2000_VEI0_csv = "./Data/Kilauea2000_VEI0.csv"
kilauea2009_VEI0_csv = "./Data/Kilauea2009_VEI0.csv"
miyake_jima2000_VEI2_csv = "./Data/Miyake-jima2000_VEI2.csv"
nabro2011_VEI3_csv = "./Data/Nabro2011_VEI3.csv"
nyiragongo2002_VEI1_csv = "./Data/Nyiragongo2002_VEI1.csv"
on_Take2014_VEI3_csv = "./Data/On-Take2014_VEI3.csv"
paluweh2013_VEI3_csv = "./Data/Paluweh2013_VEI3.csv"
pinatubo1991_VEI6_csv = "./Data/Pinatubo1991_VEI6.csv"
puyehue2011_VEI4_csv = "./Data/Puyehue2011_VEI4.csv"
rabaul1994_VEI3_csv = "./Data/Rabaul1994_VEI3.csv"
rinjani1994_VEI3_csv = "./Data/Rinjani1994_VEI3.csv"
saintHelens1980_VEI5_csv = "./Data/SaintHelens.csv"
soufriereHills2003_VEI3_csv = "./Data/SoufriereHills2003_VEI3.csv"
spurr1992_VEI4_csv = "./Data/Spurr1992_VEI4.csv"
stromboli2001_VEI2_csv = "./Data/Stromboli2001_VEI2.csv"
stromboli2002_VEI0_csv = "./Data/Stromboli2002_VEI0.csv"
stromboli2002_VEI0_csv = "./Data/Strombolo2002_VEI0.csv"
white_Island2019_VEI2_csv = "./Data/White_Island.csv"

In [13]:
etna2001_VEI3_df= pd.read_csv(etna2001_VEI3_csv, encoding="utf-8")
etna2001_VEI3_df['Name'] = "Etna"
etna2001_VEI3_df['Year'] = "2001"
etna2001_VEI3_df['VEI'] = "3"
etna2001_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2001-04-22T13:56:35.450Z,37.719,15.097,10,4.1,mb,50,NaN,NaN,NaN,...,NaN,NaN,NaN,1,reviewed,rom,us,Etna,2001,3

In [14]:
etna2002_VEI3_df= pd.read_csv(etna2002_VEI3_csv, encoding="utf-8")
etna2002_VEI3_df['Name'] = "Etna"
etna2002_VEI3_df['Year'] = "2002"
etna2002_VEI3_df['VEI'] = "3"
etna2002_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2002-08-19T15:03:23.600Z,37.697,14.967,5.0,2.8,md,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
1,2002-08-19T14:57:59.700Z,37.721,14.963,5.0,2.7,md,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
2,2002-08-19T12:05:21.700Z,37.708,14.965,5.0,2.8,md,10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
3,2002-08-13T05:29:43.300Z,37.842,14.667,5.0,3.2,md,18,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
4,2002-08-13T02:35:50.000Z,37.840,14.662,5.0,2.5,md,5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
5,2002-08-13T02:30:20.600Z,37.829,14.656,5.0,3.4,md,24,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
6,2002-08-13T00:03:35.200Z,37.808,14.632,2.9,2.5,md,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
7,2002-07-29T01:54:17.100Z,38.136,15.159,22.4,2.6,md,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
8,2002-07-09T23:15:36.700Z,37.571,15.196,5.0,2.8,md,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
9,2002-07-09T04:46:07.800Z,37.598,15.055,5.0,3.0,md,12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
10,2002-07-09T01:32:16.000Z,37.958,14.662,9.4,2.8,md,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
11,2002-07-07T23:37:40.500Z,37.606,15.088,5.0,2.7,md,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
12,2002-06-22T14:34:50.220Z,38.119,14.872,154.5,3.2,md,21,NaN,NaN,0.8,...,NaN,5.2,NaN,NaN,reviewed,us,rom,Etna,2002,3
13,2002-06-15T00:41:41.400Z,37.653,15.075,5.0,2.5,md,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
14,2002-06-13T15:06:25.300Z,37.735,15.002,5.0,2.5,md,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
15,2002-06-03T00:17:23.900Z,37.915,14.609,11.6,2.8,md,17,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3

In [15]:
gamala2011_VEI3_df= pd.read_csv(gamala2011_VEI3_csv, encoding="utf-8")
gamala2011_VEI3_df['Name'] = "Gamala"
gamala2011_VEI3_df['Year'] = "2011"
gamala2011_VEI3_df['VEI'] = "3"
gamala2011_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2011-12-10T07:41:33.120Z,0.951,127.413,52.0,4.3,mb,23,79.0,NaN,0.99,...,NaN,14.1,NaN,8,reviewed,us,us,Gamala,2011,3
1,2011-11-12T22:10:32.810Z,1.071,127.177,138.8,4.5,mb,58,113.1,NaN,0.76,...,NaN,5.6,NaN,17,reviewed,us,us,Gamala,2011,3

In [16]:
grimsvotn1996_VEI3_df= pd.read_csv(grimsvotn1996_VEI3_csv, encoding="utf-8")
grimsvotn1996_VEI3_df['Name'] = "Grimsvotn"
grimsvotn1996_VEI3_df['Year'] = "1996"
grimsvotn1996_VEI3_df['VEI'] = "3"
grimsvotn1996_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,1996-09-29T13:39:14.880Z,64.437,-17.761,10,4.4,mb,NaN,NaN,NaN,1.00,...,NaN,NaN,NaN,26.0,reviewed,us,us,Grimsvotn,1996,3
1,1996-09-29T13:28:56.060Z,64.391,-17.905,10,4.2,mb,NaN,NaN,NaN,1.41,...,NaN,NaN,NaN,6.0,reviewed,us,us,Grimsvotn,1996,3
2,1996-09-29T13:21:29.660Z,64.463,-17.866,10,4.1,mb,NaN,NaN,NaN,1.22,...,NaN,NaN,NaN,8.0,reviewed,us,us,Grimsvotn,1996,3
3,1996-09-29T13:18:17.640Z,64.450,-18.087,10,4.0,mb,NaN,NaN,NaN,0.69,...,NaN,NaN,NaN,5.0,reviewed,us,us,Grimsvotn,1996,3
4,1996-09-29T13:01:59.800Z,64.426,-17.929,10,4.1,mb,NaN,NaN,NaN,0.86,...,NaN,NaN,NaN,4.0,reviewed,us,us,Grimsvotn,1996,3
5,1996-09-29T12:47:18.170Z,64.589,-17.849,10,4.3,mb,NaN,NaN,NaN,1.00,...,NaN,NaN,NaN,26.0,reviewed,us,us,Grimsvotn,1996,3
6,1996-09-29T10:48:18.970Z,64.782,-17.566,10,5.6,mwc,NaN,NaN,NaN,1.27,...,NaN,NaN,NaN,NaN,reviewed,us,hrv,Grimsvotn,1996,3
7,1996-07-24T01:52:17.500Z,64.263,-17.993,10,3.7,mb,NaN,NaN,NaN,1.30,...,NaN,NaN,NaN,6.0,reviewed,us,us,Grimsvotn,1996,3

In [17]:
hudson1991_VEI5_df= pd.read_csv(hudson1991_VEI5_csv, encoding="utf-8")
hudson1991_VEI5_df['Name'] = "Hudson"
hudson1991_VEI5_df['Year'] = "1996"
hudson1991_VEI5_df['VEI'] = "3"
hudson1991_VEI5_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,1991-08-22T00:58:40.140Z,-45.816,-72.809,10.0,5.1,ms,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,3,reviewed,us,us,Hudson,1996,3
1,1991-08-15T12:55:36.520Z,-45.761,-72.465,10.0,5.1,mb,NaN,NaN,NaN,1.3,...,NaN,NaN,NaN,4,reviewed,us,us,Hudson,1996,3
2,1991-08-15T11:50:03.500Z,-45.740,-72.537,10.0,5.1,mb,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,4,reviewed,us,us,Hudson,1996,3
3,1991-08-15T10:58:13.990Z,-45.713,-72.557,10.0,5.3,mb,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,3,reviewed,us,us,Hudson,1996,3
4,1991-08-15T09:46:16.110Z,-45.801,-72.611,13.2,5.4,ms,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,10,reviewed,us,us,Hudson,1996,3
5,1991-08-15T08:51:21.870Z,-45.746,-72.390,10.0,4.9,mb,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,3,reviewed,us,us,Hudson,1996,3
6,1991-08-15T08:10:17.110Z,-45.826,-72.825,10.0,5.0,mb,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,3,reviewed,us,us,Hudson,1996,3
7,1991-08-15T02:38:15.010Z,-45.608,-72.543,10.0,5.2,mb,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,9,reviewed,us,us,Hudson,1996,3
8,1991-08-14T09:01:05.860Z,-45.740,-72.591,10.0,5.1,mb,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,5,reviewed,us,us,Hudson,1996,3
9,1991-08-08T18:22:29.570Z,-45.516,-72.691,33.0,5.0,mb,NaN,NaN,NaN,0.8,...,NaN,NaN,NaN,3,reviewed,us,us,Hudson,1996,3

In [19]:
kasatochi2008_VEI3_df= pd.read_csv(kasatochi2008_VEI3_csv, encoding="utf-8")
kasatochi2008_VEI3_df['Name'] = "Kasatochi"
kasatochi2008_VEI3_df['Year'] = "2008"
kasatochi2008_VEI3_df['VEI'] = "3"
kasatochi2008_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2008-08-09T15:31:11.700Z,52.1060,-175.4160,4.7,3.2,ml,10.0,177.4,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,aeic,aeic,Kasatochi,2008,3
1,2008-08-09T06:51:12.594Z,52.1264,-175.3815,6.3,2.5,ml,NaN,NaN,NaN,0.61,...,NaN,0.4,NaN,NaN,reviewed,ak,ak,Kasatochi,2008,3
2,2008-08-09T03:46:35.101Z,51.9770,-175.4068,4.9,3.0,ml,NaN,NaN,NaN,0.87,...,NaN,0.7,NaN,NaN,reviewed,ak,ak,Kasatochi,2008,3
3,2008-08-08T23:09:53.916Z,52.0834,-175.4264,6.3,2.5,ml,NaN,NaN,NaN,0.97,...,NaN,0.4,NaN,NaN,reviewed,ak,ak,Kasatochi,2008,3
4,2008-08-08T17:27:24.081Z,52.0778,-175.3315,11.4,3.2,ml,NaN,NaN,NaN,1.06,...,NaN,1.2,NaN,NaN,reviewed,ak,ak,Kasatochi,2008,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,2008-07-27T17:15:48.808Z,52.0746,-175.4931,6.6,2.7,ml,NaN,NaN,NaN,0.58,...,NaN,1.0,NaN,NaN,reviewed,ak,ak,Kasatochi,2008,3
281,2008-07-12T03:34:49.542Z,52.0848,-175.5295,4.9,2.8,ml,NaN,NaN,NaN,0.60,...,NaN,0.9,NaN,NaN,reviewed,ak,ak,Kasatochi,2008,3
282,2008-07-11T08:59:39.114Z,52.4195,-175.9234,216.1,2.5,ml,NaN,NaN,NaN,0.60,...,NaN,1.3,NaN,NaN,reviewed,ak,ak,Kasatochi,2008,3
283,2008-06-28T03:38:50.206Z,52.0551,-175.9468,88.9,2.5,ml,NaN,NaN,NaN,0.25,...,NaN,0.7,NaN,NaN,reviewed,ak,ak,Kasatochi,2008,3
284,2008-06-05T11:35:07.470Z,52.0460,-175.0220,88.7,4.3,mb,72.0,137.3,NaN,0.93,...,NaN,4.4,NaN,35.0,reviewed,us,us,Kasatochi,2008,3

In [21]:
kilauea2000_VEI0_df= pd.read_csv(kilauea2000_VEI0_csv, encoding="utf-8")
kilauea2000_VEI0_df['Name'] = "Kilauea"
kilauea2000_VEI0_df['Year'] = "2000"
kilauea2000_VEI0_df['VEI'] = "0"
kilauea2000_VEI0_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2000-11-03T20:58:47.020Z,19.182667,-155.464333,33.726,2.76,ml,36,222,NaN,0.10,...,0.57,0.64,0.07,18,reviewed,hv,hv,Kilauea,2000,0
1,2000-10-29T20:58:14.800Z,19.365667,-155.287833,29.282,2.52,ml,40,42,NaN,0.12,...,0.52,0.60,0.17,21,reviewed,hv,hv,Kilauea,2000,0
2,2000-10-25T07:26:43.530Z,19.390667,-155.276833,2.009,2.53,ml,31,52,NaN,0.11,...,0.25,0.20,0.13,11,reviewed,hv,hv,Kilauea,2000,0
3,2000-10-22T23:24:32.720Z,19.489000,-155.326500,12.363,2.91,ml,41,54,NaN,0.13,...,0.37,0.26,0.07,11,reviewed,hv,hv,Kilauea,2000,0
4,2000-10-22T00:25:26.670Z,19.353333,-155.079500,7.831,3.19,ml,35,150,NaN,0.11,...,0.51,0.43,0.08,11,reviewed,hv,hv,Kilauea,2000,0
5,2000-10-07T11:08:32.470Z,19.414500,-155.640667,-0.620,2.72,ml,29,149,NaN,0.12,...,0.40,0.36,0.15,17,reviewed,hv,hv,Kilauea,2000,0
6,2000-09-04T05:06:21.640Z,19.212000,-155.486333,7.423,2.85,ml,42,101,NaN,0.19,...,0.52,0.67,0.12,12,reviewed,hv,hv,Kilauea,2000,0
7,2000-08-20T11:47:45.470Z,19.083333,-155.489167,29.900,2.91,ml,35,180,NaN,0.09,...,0.72,1.00,0.08,10,reviewed,hv,hv,Kilauea,2000,0
8,2000-08-20T09:37:38.250Z,19.389333,-155.242000,2.382,2.76,ml,28,81,NaN,0.11,...,0.25,0.31,0.10,5,reviewed,hv,hv,Kilauea,2000,0
9,2000-08-07T05:00:51.780Z,19.545000,-155.167333,20.515,3.11,ml,15,246,NaN,0.12,...,1.88,2.17,0.12,5,reviewed,hv,hv,Kilauea,2000,0

In [22]:
kilauea2009_VEI0_df= pd.read_csv(kilauea2009_VEI0_csv, encoding="utf-8")
kilauea2009_VEI0_df['Name'] = "Kilauea"
kilauea2009_VEI0_df['Year'] = "2009"
kilauea2009_VEI0_df['VEI'] = "0"
kilauea2009_VEI0_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2009-11-24T21:31:41.580Z,19.187167,-155.472167,32.916,2.80,ml,45,90,NaN,0.08,...,0.48,0.87,0.193,21,reviewed,hv,hv,Kilauea,2009,0
1,2009-11-20T07:34:31.430Z,19.316000,-154.985667,40.322,2.85,ml,48,227,NaN,0.10,...,0.89,0.66,0.172,25,reviewed,hv,hv,Kilauea,2009,0
2,2009-11-09T22:35:23.990Z,19.330333,-155.123833,7.600,2.59,ml,44,130,NaN,0.11,...,0.42,0.38,0.141,42,reviewed,hv,hv,Kilauea,2009,0
3,2009-11-02T22:44:52.160Z,19.344667,-155.104333,8.190,2.66,ml,46,144,NaN,0.10,...,0.42,0.37,0.145,32,reviewed,hv,hv,Kilauea,2009,0
4,2009-10-31T06:02:33.050Z,19.277333,-155.212667,10.318,2.80,ml,43,174,NaN,0.11,...,0.51,0.30,0.167,29,reviewed,hv,hv,Kilauea,2009,0

In [24]:
miyake_jima2000_VEI2_df= pd.read_csv(miyake_jima2000_VEI2_csv, encoding="utf-8")
miyake_jima2000_VEI2_df['Name'] = "Miyake_Jima"
miyake_jima2000_VEI2_df['Year'] = "2000"
miyake_jima2000_VEI2_df['VEI'] = "0"
miyake_jima2000_VEI2_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2000-06-30T19:11:44.210Z,34.088,139.264,10,4.5,mb,33.0,NaN,NaN,1.04,...,NaN,NaN,NaN,18.0,reviewed,us,us,Miyake_Jima,2000,0
1,2000-06-30T18:57:17.290Z,34.171,139.363,10,4.3,mb,34.0,NaN,NaN,1.15,...,NaN,NaN,NaN,10.0,reviewed,us,us,Miyake_Jima,2000,0
2,2000-06-30T17:41:16.960Z,34.073,139.374,10,4.8,mb,76.0,NaN,NaN,1.11,...,NaN,NaN,NaN,45.0,reviewed,us,us,Miyake_Jima,2000,0
3,2000-06-30T15:02:42.840Z,34.029,139.373,10,3.7,mb,13.0,NaN,NaN,1.30,...,NaN,NaN,NaN,1.0,reviewed,us,us,Miyake_Jima,2000,0
4,2000-06-30T11:42:49.220Z,34.230,139.316,10,4.7,mb,66.0,NaN,NaN,0.98,...,NaN,NaN,NaN,31.0,reviewed,us,us,Miyake_Jima,2000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,2000-06-27T05:25:13.620Z,34.097,139.368,10,4.5,ms,43.0,NaN,NaN,1.41,...,NaN,NaN,NaN,4.0,reviewed,us,us,Miyake_Jima,2000,0
94,2000-06-27T05:05:26.370Z,33.958,139.401,10,4.4,ms,21.0,NaN,NaN,1.19,...,NaN,NaN,NaN,1.0,reviewed,us,us,Miyake_Jima,2000,0
95,2000-06-27T04:43:07.100Z,33.959,139.310,10,3.9,mb,8.0,NaN,NaN,1.25,...,NaN,NaN,NaN,1.0,reviewed,us,us,Miyake_Jima,2000,0
96,2000-04-14T13:04:08.540Z,34.161,139.120,33,4.1,mb,NaN,NaN,NaN,1.13,...,NaN,NaN,NaN,6.0,reviewed,us,us,Miyake_Jima,2000,0
97,2000-04-14T12:53:23.500Z,34.118,139.130,33,4.4,mb,NaN,NaN,NaN,1.01,...,NaN,NaN,NaN,21.0,reviewed,us,us,Miyake_Jima,2000,0

In [25]:
nabro2011_VEI3_df= pd.read_csv(nabro2011_VEI3_csv, encoding="utf-8")
nabro2011_VEI3_df['Name'] = "Nabro"
nabro2011_VEI3_df['Year'] = "2011"
nabro2011_VEI3_df['VEI'] = "3"
nabro2011_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2011-06-17T09:16:12.570Z,13.303,41.732,10.0,5.6,mwb,161,51.8,NaN,1.05,...,NaN,NaN,NaN,NaN,reviewed,us,us,Nabro,2011,3
1,2011-06-12T21:41:55.800Z,13.377,41.620,2.5,4.6,mb,65,70.0,NaN,0.86,...,NaN,20.5,NaN,25.0,reviewed,us,us,Nabro,2011,3
2,2011-06-12T21:37:13.320Z,13.213,41.792,12.2,4.5,mb,67,68.8,NaN,1.11,...,NaN,25.2,NaN,25.0,reviewed,us,us,Nabro,2011,3
3,2011-06-12T21:31:08.720Z,13.340,41.542,13.1,4.6,mb,27,129.9,NaN,0.76,...,NaN,29.9,NaN,4.0,reviewed,us,us,Nabro,2011,3
4,2011-06-12T21:17:11.220Z,13.408,41.548,10.0,4.6,mb,29,116.7,NaN,0.98,...,NaN,NaN,NaN,7.0,reviewed,us,us,Nabro,2011,3
5,2011-06-12T21:03:23.160Z,13.530,41.641,10.0,5.4,mwc,249,49.7,NaN,0.97,...,NaN,NaN,NaN,NaN,reviewed,us,gcmt,Nabro,2011,3
6,2011-06-12T20:58:18.460Z,13.433,41.682,10.0,4.0,mb,27,125.5,NaN,0.94,...,NaN,NaN,NaN,4.0,reviewed,us,us,Nabro,2011,3
7,2011-06-12T20:32:40.490Z,13.414,41.735,10.0,5.6,mww,210,49.6,NaN,1.00,...,NaN,NaN,NaN,NaN,reviewed,us,us,Nabro,2011,3
8,2011-06-12T20:23:06.400Z,13.392,41.620,10.0,4.3,mb,24,70.2,NaN,0.98,...,NaN,NaN,NaN,1.0,reviewed,us,us,Nabro,2011,3
9,2011-06-12T20:10:54.780Z,13.153,41.661,10.0,4.1,mb,24,190.1,NaN,0.77,...,NaN,NaN,NaN,1.0,reviewed,us,us,Nabro,2011,3
10,2011-06-12T19:57:43.910Z,13.377,41.665,10.0,4.4,mb,17,118.7,NaN,0.86,...,NaN,NaN,NaN,2.0,reviewed,us,us,Nabro,2011,3
11,2011-06-12T19:44:16.310Z,13.409,41.711,10.0,4.8,mb,71,64.0,NaN,1.09,...,NaN,NaN,NaN,25.0,reviewed,us,us,Nabro,2011,3
12,2011-06-12T19:38:03.460Z,13.226,41.735,10.0,4.5,mb,36,119.5,NaN,1.15,...,NaN,NaN,NaN,7.0,reviewed,us,us,Nabro,2011,3
13,2011-06-12T19:37:43.850Z,13.441,41.667,10.0,4.8,mb,52,71.8,NaN,1.06,...,NaN,NaN,NaN,11.0,reviewed,us,us,Nabro,2011,3
14,2011-06-12T19:31:19.750Z,13.251,41.795,10.0,4.2,mb,29,72.2,NaN,0.94,...,NaN,NaN,NaN,4.0,reviewed,us,us,Nabro,2011,3
15,2011-06-12T19:23:55.520Z,13.312,41.720,10.0,4.6,mb,21,118.5,NaN,0.97,...,NaN,NaN,NaN,2.0,reviewed,us,us,Nabro,2011,3
16,2011-06-12T19:21:50.810Z,13.303,41.801,10.0,5.0,mwc,99,49.6,NaN,1.11,...,NaN,NaN,NaN,NaN,reviewed,us,gcmt,Nabro,2011,3
17,2011-06-12T19:03:37.210Z,13.428,41.727,10.0,4.2,mb,35,73.0,NaN,1.25,...,NaN,NaN,NaN,6.0,reviewed,us,us,Nabro,2011,3
18,2011-06-12T18:56:12.850Z,13.262,41.765,10.0,4.0,mb,15,126.2,NaN,1.18,...,NaN,NaN,NaN,1.0,reviewed,us,us,Nabro,2011,3
19,2011-06-12T18:48:51.500Z,13.353,41.818,10.0,4.0,mb,29,74.1,NaN,1.21,...,NaN,NaN,NaN,4.0,reviewed,us,us,Nabro,2011,3
20,2011-06-12T18:01:21.720Z,13.196,41.818,10.0,4.4,mb,40,72.0,NaN,1.20,...,NaN,NaN,NaN,9.0,reviewed,us,us,Nabro,2011,3
21,2011-06-12T17:47:20.290Z,13.332,41.693,10.0,4.7,mb,48,77.1,NaN,1.36,...,NaN,NaN,NaN,13.0,reviewed,us,us,Nabro,2011,3
22,2011-06-12T17:24:38.940Z,13.097,41.779,10.0,4.0,mb,16,128.7,NaN,0.79,...,NaN,NaN,NaN,1.0,reviewed,us,us,Nabro,2011,3
23,2011-06-12T17:18:09.640Z,13.344,41.766,10.0,4.8,mb,95,49.6,NaN,1.13,...,NaN,NaN,NaN,38.0,reviewed,us,us,Nabro,2011,3
24,2011-06-12T17:00:00.600Z,13.311,41.696,10.0,4.2,mb,15,164.0,NaN,0.76,...,NaN,2.0,NaN,2.0,reviewed,us,us,Nabro,2011,3
25,2011-06-12T16:51:00.390Z,13.349,41.763,10.0,4.3,mb,18,124.9,NaN,0.88,...,NaN,0.0,NaN,2.0,reviewed,us,us,Nabro,2011,3
26,2011-06-12T16:44:40.870Z,13.337,41.659,10.0,4.7,mb,14,127.5,NaN,0.60,...,NaN,0.0,NaN,1.0,reviewed,us,us,Nabro,2011,3
27,2011-06-12T16:33:10.730Z,13.294,41.756,10.0,4.3,mb,31,126.0,NaN,0.58,...,NaN,NaN,NaN,2.0,reviewed,us,us,Nabro,2011,3
28,2011-06-12T16:27:49.900Z,13.305,41.654,10.0,4.8,mb,16,77.2,NaN,1.16,...,NaN,NaN,NaN,1.0,reviewed,us,us,Nabro,2011,3
29,2011-06-12T16:24:44.070Z,13.398,41.726,10.0,4.8,mb,88,49.6,NaN,0.94,...,NaN,0.0,NaN,28.0,reviewed,us,us,Nabro,2011,3
30,2011-06-12T16:22:11.160Z,13.282,41.716,10.0,4.2,mb,16,127.1,NaN,0.64,...,NaN,0.0,NaN,2.0,reviewed,us,us,Nabro,2011,3
31,2011-06-12T16:12:03.180Z,13.322,41.781,12.5,4.7,mb,72,49.6,NaN,0.92,...,NaN,19.6,NaN,22.0,reviewed,us,us,Nabro,2011,3
32,2011-06-12T16:09:30.950Z,13.331,41.760,10.0,4.5,mb,43,76.9,NaN,0.95,...,NaN,NaN,NaN,10.0,reviewed,us,us,Nabro,2011,3
33,2011-06-12T15:38:52.000Z,13.339,41.637,10.0,4.0,mb,18,119.9,NaN,1.18,...,NaN,NaN,NaN,1.0,reviewed,us,us,Nabro,2011,3
34,2011-06-12T15:37:04.110Z,13.420,41.694,1.9,5.1,mwc,129,49.7,NaN,0.86,...,NaN,14.1,NaN,NaN,reviewed,us,gcmt,Nabro,2011,3
35,2011-03-31T18:33:38.040Z,13.170,41.829,6.5,4.5,mb,67,53.7,NaN,1.05,...,NaN,20.5,NaN,19.0,reviewed,us,us,Nabro,2011,3

In [26]:
nyiragongo2002_VEI1_df= pd.read_csv(nyiragongo2002_VEI1_csv, encoding="utf-8")
nyiragongo2002_VEI1_df['Name'] = "Nyiragongo"
nyiragongo2002_VEI1_df['Year'] = "2002"
nyiragongo2002_VEI1_df['VEI'] = "1"
nyiragongo2002_VEI1_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2002-01-22T16:51:00.380Z,-1.461,29.249,10.0,4.2,mb,8,NaN,NaN,1.28,...,NaN,NaN,NaN,4.0,reviewed,us,us,Nyiragongo,2002,1
1,2002-01-22T16:22:22.340Z,-1.551,28.995,10.0,4.4,mb,11,NaN,NaN,1.04,...,NaN,NaN,NaN,4.0,reviewed,us,us,Nyiragongo,2002,1
2,2002-01-22T15:32:05.590Z,-1.515,28.993,10.0,5.2,mwc,58,NaN,NaN,1.05,...,NaN,NaN,NaN,NaN,reviewed,us,hrv,Nyiragongo,2002,1
3,2002-01-22T02:01:01.340Z,-1.746,29.095,10.0,3.9,mb,10,NaN,NaN,1.18,...,NaN,NaN,NaN,3.0,reviewed,us,us,Nyiragongo,2002,1
4,2002-01-22T01:02:32.250Z,-1.787,28.971,10.0,4.0,mb,5,NaN,NaN,0.33,...,NaN,NaN,NaN,3.0,reviewed,us,us,Nyiragongo,2002,1
5,2002-01-21T10:55:03.720Z,-1.903,29.117,10.0,4.7,mb,36,NaN,NaN,1.00,...,NaN,NaN,NaN,10.0,reviewed,us,us,Nyiragongo,2002,1
6,2002-01-21T04:39:21.620Z,-1.776,29.041,10.0,5.1,mwc,97,NaN,NaN,0.97,...,NaN,NaN,NaN,NaN,reviewed,us,hrv,Nyiragongo,2002,1
7,2002-01-21T02:00:14.000Z,-1.505,28.941,10.0,4.2,mb,11,NaN,NaN,1.41,...,NaN,NaN,NaN,3.0,reviewed,us,us,Nyiragongo,2002,1
8,2002-01-21T01:19:32.600Z,-1.726,28.854,10.0,4.6,mb,40,NaN,NaN,1.28,...,NaN,NaN,NaN,18.0,reviewed,us,us,Nyiragongo,2002,1
9,2002-01-20T23:31:45.480Z,-1.726,29.168,10.0,3.8,mb,4,NaN,NaN,1.14,...,NaN,NaN,NaN,2.0,reviewed,us,us,Nyiragongo,2002,1
10,2002-01-20T23:28:17.470Z,-1.599,29.050,10.0,4.2,mb,12,NaN,NaN,1.33,...,NaN,NaN,NaN,4.0,reviewed,us,us,Nyiragongo,2002,1
11,2002-01-20T05:17:19.580Z,-1.641,29.042,10.0,3.9,mb,6,NaN,NaN,1.64,...,NaN,NaN,NaN,2.0,reviewed,us,us,Nyiragongo,2002,1
12,2002-01-20T00:14:44.390Z,-1.681,28.981,10.0,5.1,mwc,77,NaN,NaN,0.97,...,NaN,NaN,NaN,NaN,reviewed,us,hrv,Nyiragongo,2002,1
13,2002-01-19T20:38:55.550Z,-1.879,29.059,10.0,4.2,mb,6,NaN,NaN,0.89,...,NaN,NaN,NaN,3.0,reviewed,us,us,Nyiragongo,2002,1
14,2002-01-19T04:26:20.490Z,-1.761,28.969,10.0,3.9,mb,5,NaN,NaN,1.23,...,NaN,NaN,NaN,3.0,reviewed,us,us,Nyiragongo,2002,1
15,2002-01-18T21:08:53.320Z,-1.662,28.866,10.0,4.2,mb,5,NaN,NaN,1.67,...,NaN,NaN,NaN,2.0,reviewed,us,us,Nyiragongo,2002,1
16,2002-01-18T15:14:02.040Z,-1.780,29.076,10.0,4.3,mb,7,NaN,NaN,1.55,...,NaN,NaN,NaN,3.0,reviewed,us,us,Nyiragongo,2002,1
17,2002-01-18T08:07:57.370Z,-1.578,29.031,10.0,4.2,mb,11,NaN,NaN,1.33,...,NaN,NaN,NaN,3.0,reviewed,us,us,Nyiragongo,2002,1
18,2002-01-17T20:01:29.260Z,-1.684,29.077,15.4,4.7,mb,40,NaN,NaN,0.95,...,NaN,NaN,NaN,23.0,reviewed,us,us,Nyiragongo,2002,1
19,2002-01-17T14:26:59.720Z,-1.629,29.152,10.0,4.3,mb,7,NaN,NaN,1.37,...,NaN,NaN,NaN,4.0,reviewed,us,us,Nyiragongo,2002,1

In [30]:
on_Take2014_VEI3_df= pd.read_csv(on_Take2014_VEI3_csv, encoding="utf-8")
on_Take2014_VEI3_df['Name'] = "On_Take"
on_Take2014_VEI3_df['Year'] = "2014"
on_Take2014_VEI3_df['VEI'] = "3"
on_Take2014_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2014-07-21T15:58:02.980Z,35.9561,137.8883,10,4.7,mb,NaN,99,0.639,0.42,...,NaN,1.9,0.274,9,reviewed,us,us,On_Take,2014,3

In [31]:
paluweh2013_VEI3_df= pd.read_csv(paluweh2013_VEI3_csv, encoding="utf-8")
paluweh2013_VEI3_df['Name'] = "Paluweh"
paluweh2013_VEI3_df['Year'] = "2013"
paluweh2013_VEI3_df['VEI'] = "3"
paluweh2013_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2013-08-07T13:09:04.510Z,-8.3382,121.5454,185.6,4.1,mb,NaN,92,0.745,1.49,...,NaN,9.9,0.261,NaN,reviewed,us,us,Paluweh,2013,3

In [33]:
pinatubo1991_VEI6_df= pd.read_csv(pinatubo1991_VEI6_csv, encoding="utf-8")
pinatubo1991_VEI6_df['Name'] = "Pinatubo"
pinatubo1991_VEI6_df['Year'] = "1991"
pinatubo1991_VEI6_df['VEI'] = "6"
pinatubo1991_VEI6_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,1991-06-20T09:12:48.330Z,15.087,120.241,10.0,4.8,mb,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,10.0,reviewed,us,us,Pinatubo,1991,6
1,1991-06-19T03:06:42.850Z,15.001,120.034,10.0,4.4,mb,NaN,NaN,NaN,0.7,...,NaN,NaN,NaN,3.0,reviewed,us,us,Pinatubo,1991,6
2,1991-06-18T20:17:48.520Z,15.231,120.293,10.0,4.8,mb,NaN,NaN,NaN,1.3,...,NaN,NaN,NaN,9.0,reviewed,us,us,Pinatubo,1991,6
3,1991-06-18T03:20:25.310Z,15.219,120.322,10.0,4.9,mb,NaN,NaN,NaN,1.4,...,NaN,NaN,NaN,19.0,reviewed,us,us,Pinatubo,1991,6
4,1991-06-17T23:10:02.850Z,15.203,120.393,10.0,4.2,mb,NaN,NaN,NaN,1.6,...,NaN,NaN,NaN,3.0,reviewed,us,us,Pinatubo,1991,6
5,1991-06-17T16:37:52.820Z,15.193,120.250,10.0,4.6,mb,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,12.0,reviewed,us,us,Pinatubo,1991,6
6,1991-06-17T15:33:01.700Z,15.211,120.340,10.0,4.8,mb,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,20.0,reviewed,us,us,Pinatubo,1991,6
7,1991-06-16T20:40:40.570Z,15.170,120.323,10.0,5.2,mb,NaN,NaN,NaN,1.2,...,NaN,NaN,NaN,20.0,reviewed,us,us,Pinatubo,1991,6
8,1991-06-16T20:37:20.310Z,15.080,120.585,10.0,5.5,mb,NaN,NaN,NaN,1.2,...,NaN,NaN,NaN,13.0,reviewed,us,us,Pinatubo,1991,6
9,1991-06-16T20:36:53.350Z,15.234,120.291,10.0,5.0,mb,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,27.0,reviewed,us,us,Pinatubo,1991,6
10,1991-06-16T13:26:44.090Z,15.030,120.223,12.6,5.0,mb,NaN,NaN,NaN,1.2,...,NaN,NaN,NaN,21.0,reviewed,us,us,Pinatubo,1991,6
11,1991-06-16T09:51:09.020Z,15.177,120.355,15.0,5.0,mb,NaN,NaN,NaN,1.2,...,NaN,NaN,NaN,26.0,reviewed,us,us,Pinatubo,1991,6
12,1991-06-16T06:58:21.910Z,15.250,120.591,12.6,5.1,mb,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,33.0,reviewed,us,us,Pinatubo,1991,6
13,1991-06-16T04:30:03.840Z,15.285,120.188,10.0,4.4,mb,NaN,NaN,NaN,1.6,...,NaN,NaN,NaN,6.0,reviewed,us,us,Pinatubo,1991,6
14,1991-06-16T04:20:00.060Z,15.321,120.295,10.0,4.3,mb,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,5.0,reviewed,us,us,Pinatubo,1991,6
15,1991-06-16T03:31:11.720Z,15.019,120.158,10.0,4.3,mb,NaN,NaN,NaN,1.7,...,NaN,NaN,NaN,6.0,reviewed,us,us,Pinatubo,1991,6
16,1991-06-16T02:41:47.000Z,15.102,120.214,10.0,4.3,mb,NaN,NaN,NaN,1.4,...,NaN,NaN,NaN,3.0,reviewed,us,us,Pinatubo,1991,6
17,1991-06-16T02:07:41.020Z,15.198,120.332,10.0,5.4,mw,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,NaN,reviewed,us,hrv,Pinatubo,1991,6
18,1991-06-15T22:19:22.430Z,15.023,120.074,10.0,4.4,mb,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,4.0,reviewed,us,us,Pinatubo,1991,6
19,1991-06-15T19:58:35.060Z,15.199,120.427,15.6,4.9,mb,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,15.0,reviewed,us,us,Pinatubo,1991,6
20,1991-06-15T19:48:53.520Z,15.211,120.267,8.5,5.0,mb,NaN,NaN,NaN,1.2,...,NaN,NaN,NaN,18.0,reviewed,us,us,Pinatubo,1991,6
21,1991-06-15T18:18:24.380Z,15.050,120.636,10.0,4.5,mb,NaN,NaN,NaN,1.3,...,NaN,NaN,NaN,3.0,reviewed,us,us,Pinatubo,1991,6
22,1991-06-15T17:42:32.480Z,15.244,120.565,10.0,4.5,mb,NaN,NaN,NaN,1.4,...,NaN,NaN,NaN,4.0,reviewed,us,us,Pinatubo,1991,6
23,1991-06-15T14:23:25.160Z,14.974,120.545,10.0,4.7,mb,NaN,NaN,NaN,1.3,...,NaN,NaN,NaN,8.0,reviewed,us,us,Pinatubo,1991,6
24,1991-06-15T14:18:13.620Z,15.162,120.415,10.0,4.3,mb,NaN,NaN,NaN,0.2,...,NaN,NaN,NaN,3.0,reviewed,us,us,Pinatubo,1991,6
25,1991-06-15T13:48:43.180Z,15.075,120.607,10.0,4.9,mb,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,12.0,reviewed,us,us,Pinatubo,1991,6
26,1991-06-15T13:42:15.580Z,15.114,120.351,10.0,4.6,mb,NaN,NaN,NaN,1.4,...,NaN,NaN,NaN,3.0,reviewed,us,us,Pinatubo,1991,6
27,1991-06-15T13:39:20.110Z,15.119,120.573,10.0,4.6,mb,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,5.0,reviewed,us,us,Pinatubo,1991,6
28,1991-06-15T12:51:30.870Z,15.174,120.294,10.0,4.7,mb,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,11.0,reviewed,us,us,Pinatubo,1991,6
29,1991-06-15T12:25:30.740Z,15.046,120.573,10.0,5.0,mb,NaN,NaN,NaN,0.9,...,NaN,NaN,NaN,18.0,reviewed,us,us,Pinatubo,1991,6
30,1991-06-15T12:23:44.380Z,15.196,120.767,10.0,4.5,mb,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,2.0,reviewed,us,us,Pinatubo,1991,6
31,1991-06-15T12:18:25.140Z,15.079,120.503,10.0,4.7,mb,NaN,NaN,NaN,0.6,...,NaN,NaN,NaN,4.0,reviewed,us,us,Pinatubo,1991,6
32,1991-06-15T12:05:01.800Z,14.903,120.500,10.0,4.6,mb,NaN,NaN,NaN,1.2,...,NaN,NaN,NaN,7.0,reviewed,us,us,Pinatubo,1991,6
33,1991-06-15T11:48:13.650Z,15.262,120.757,10.0,4.7,mb,NaN,NaN,NaN,0.4,...,NaN,NaN,NaN,4.0,reviewed,us,us,Pinatubo,1991,6
34,1991-06-15T11:34:31.990Z,15.110,120.733,10.0,4.5,mb,NaN,NaN,NaN,0.9,...,NaN,NaN,NaN,3.0,reviewed,us,us,Pinatubo,1991,6
35,1991-06-15T11:32:20.330Z,15.214,120.336,10.0,5.0,mb,NaN,NaN,NaN,1.4,...,NaN,NaN,NaN,18.0,reviewed,us,us,Pinatubo,1991,6
36,1991-06-15T11:15:28.010Z,15.119,120.355,10.0,5.6,mw,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,reviewed,us,hrv,Pinatubo,1991,6
37,1991-06-15T11:11:18.400Z,15.061,120.543,10.0,5.0,mb,NaN,NaN,NaN,1.2,...,NaN,NaN,NaN,24.0,reviewed,us,us,Pinatubo,1991,6
38,1991-06-15T11:03:49.570Z,14.952,120.239,10.0,4.7,mb,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,4.0,reviewed,us,us,Pinatubo,1991,6
39,1991-06-15T10:46:07.600Z,15.156,120.468,10.0,4.8,mb,NaN,NaN,NaN,0.8,...,NaN,NaN,NaN,4.0,reviewed,us,us,Pinatubo,1991,6
40,1991-06-15T10:41:14.240Z,15.316,120.522,10.0,5.7,mw,NaN,NaN,NaN,1.1,...,NaN,NaN,NaN,NaN,reviewed,us,hrv,Pinatubo,1991,6
41,1991-06-15T10:31:23.250Z,15.383,120.478,10.0,4.7,mb,NaN,NaN,NaN,1.4,...,NaN,NaN,NaN,8.0,reviewed,us,us,Pinatubo,1991,6
42,1991-06-15T09:52:44.660Z,15.177,120.176,10.0,4.9,mb,NaN,NaN,NaN,1.6,...,NaN,NaN,NaN,7.0,reviewed,us,us,Pinatubo,1991,6
43,1991-06-15T09:06:46.450Z,15.188,120.534,10.0,4.5,mb,NaN,NaN,NaN,1.6,...,NaN,NaN,NaN,7.0,reviewed,us,us,Pinatubo,1991,6
44,1991-06-15T08:43:10.370Z,15.078,120.741,10.0,4.5,mb,NaN,NaN,NaN,0.9,...,NaN,NaN,NaN,4.0,reviewed,us,us,Pinatubo,1991,6
45,1991-06-15T07:39:09.520Z,15.171,120.310,10.0,5.1,mb,NaN,NaN,NaN,1.2,...,NaN,NaN,NaN,39.0,reviewed,us,us,Pinatubo,1991,6

In [34]:
puyehue2011_VEI4_df= pd.read_csv(puyehue2011_VEI4_csv, encoding="utf-8")
puyehue2011_VEI4_df['Name'] = "Puyehue"
puyehue2011_VEI4_df['Year'] = "2011"
puyehue2011_VEI4_df['VEI'] = "4"
puyehue2011_VEI4_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2011-06-04T18:26:38.000Z,-40.516,-72.210,8.6,4.0,mb,13,148.7,NaN,NaN,...,NaN,NaN,NaN,3.0,reviewed,guc,us,Puyehue,2011,4
1,2011-06-04T17:54:07.500Z,-40.456,-71.741,14.2,4.9,mb,76,140.4,NaN,1.01,...,NaN,10.8,NaN,49.0,reviewed,us,us,Puyehue,2011,4
2,2011-06-04T17:30:58.750Z,-40.491,-71.936,10.0,4.4,mb,11,146.9,NaN,1.32,...,NaN,NaN,NaN,3.0,reviewed,us,us,Puyehue,2011,4
3,2011-06-04T17:00:48.380Z,-40.360,-71.782,10.0,4.7,mb,56,136.0,NaN,1.35,...,NaN,NaN,NaN,31.0,reviewed,us,us,Puyehue,2011,4
4,2011-06-04T16:28:47.680Z,-40.546,-71.901,9.8,5.0,mwc,65,62.8,NaN,1.31,...,NaN,15.7,NaN,NaN,reviewed,us,gcmt,Puyehue,2011,4
5,2011-06-04T16:24:38.000Z,-40.476,-72.124,13.0,4.7,ml,7,245.4,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,guc,guc,Puyehue,2011,4
6,2011-06-04T15:19:19.960Z,-40.590,-71.880,10.0,4.6,mb,47,89.9,NaN,0.90,...,NaN,NaN,NaN,27.0,reviewed,us,us,Puyehue,2011,4
7,2011-06-04T15:05:39.000Z,-40.535,-72.158,7.2,4.7,mb,56,77.7,NaN,NaN,...,NaN,NaN,NaN,13.0,reviewed,guc,us,Puyehue,2011,4
8,2011-06-04T14:52:30.450Z,-40.523,-72.377,10.0,4.2,mb,9,152.0,NaN,0.92,...,NaN,NaN,NaN,4.0,reviewed,us,us,Puyehue,2011,4
9,2011-06-04T14:52:06.000Z,-40.502,-72.123,18.9,4.4,mb,13,145.5,NaN,NaN,...,NaN,NaN,NaN,3.0,reviewed,guc,us,Puyehue,2011,4
10,2011-06-04T14:13:16.000Z,-40.494,-72.137,7.1,4.4,mb,24,145.5,NaN,NaN,...,NaN,NaN,NaN,2.0,reviewed,guc,us,Puyehue,2011,4
11,2011-06-04T14:06:32.000Z,-40.401,-72.018,5.4,4.4,mb,5,185.8,NaN,NaN,...,NaN,NaN,NaN,2.0,reviewed,guc,us,Puyehue,2011,4
12,2011-06-04T13:58:56.000Z,-40.444,-72.177,12.7,4.9,mb,20,145.5,NaN,NaN,...,NaN,NaN,NaN,4.0,reviewed,guc,us,Puyehue,2011,4
13,2011-06-04T13:48:47.890Z,-40.425,-71.812,10.0,4.7,mb,55,115.9,NaN,0.91,...,NaN,NaN,NaN,27.0,reviewed,us,us,Puyehue,2011,4
14,2011-06-04T13:20:51.000Z,-40.420,-72.059,13.1,4.7,mb,95,100.3,NaN,NaN,...,NaN,NaN,NaN,21.0,reviewed,guc,us,Puyehue,2011,4
15,2011-06-04T12:56:43.000Z,-40.537,-72.319,2.1,3.6,ml,5,233.2,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,guc,guc,Puyehue,2011,4
16,2011-06-04T12:51:57.000Z,-40.459,-72.090,10.9,4.3,ml,16,207.3,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,guc,guc,Puyehue,2011,4
17,2011-06-04T12:26:23.000Z,-40.484,-72.116,14.7,4.3,ml,31,127.7,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,guc,guc,Puyehue,2011,4
18,2011-06-04T12:23:49.000Z,-40.491,-72.093,13.1,4.8,mb,42,131.1,NaN,NaN,...,NaN,NaN,NaN,20.0,reviewed,guc,us,Puyehue,2011,4
19,2011-06-04T10:45:58.000Z,-40.463,-72.110,19.3,4.3,ml,7,139.8,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,guc,guc,Puyehue,2011,4
20,2011-06-04T10:19:03.000Z,-40.403,-72.093,3.0,3.9,ml,11,209.0,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,guc,guc,Puyehue,2011,4
21,2011-05-17T14:31:54.730Z,-40.420,-71.800,45.0,4.2,mb,19,140.1,NaN,0.79,...,NaN,8.6,NaN,4.0,reviewed,us,us,Puyehue,2011,4
22,2011-04-27T06:56:17.430Z,-40.356,-71.733,41.1,4.8,mb,33,135.0,NaN,1.12,...,NaN,11.1,NaN,16.0,reviewed,us,us,Puyehue,2011,4

In [35]:
rabaul1994_VEI3_csv_df= pd.read_csv(rabaul1994_VEI3_csv, encoding="utf-8")
rabaul1994_VEI3_csv_df['Name'] = "Rabaul"
rabaul1994_VEI3_csv_df['Year'] = "1994"
rabaul1994_VEI3_csv_df['VEI'] = "3"
rabaul1994_VEI3_csv_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,1994-09-18T13:23:04.940Z,-4.215,151.938,33.0,4.2,mb,NaN,NaN,NaN,1.5,...,NaN,NaN,NaN,2,reviewed,us,us,Rabaul,1994,3
1,1994-09-18T13:06:48.930Z,-4.184,152.077,33.0,4.2,mb,NaN,NaN,NaN,0.7,...,NaN,NaN,NaN,2,reviewed,us,us,Rabaul,1994,3
2,1994-09-18T10:54:22.140Z,-4.295,152.242,33.0,4.6,mb,NaN,NaN,NaN,1.6,...,NaN,NaN,NaN,2,reviewed,us,us,Rabaul,1994,3
3,1994-09-18T10:41:45.940Z,-4.366,151.828,33.0,4.4,mb,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1,reviewed,us,us,Rabaul,1994,3
4,1994-09-17T16:51:33.670Z,-4.166,152.429,33.0,4.6,ms,NaN,NaN,NaN,1.7,...,NaN,NaN,NaN,1,reviewed,us,us,Rabaul,1994,3
5,1994-08-17T07:34:53.930Z,-4.198,152.564,75.4,4.8,mb,NaN,NaN,NaN,1.4,...,NaN,13.5,NaN,7,reviewed,us,us,Rabaul,1994,3

In [36]:
rinjani1994_VEI3_df= pd.read_csv(rinjani1994_VEI3_csv, encoding="utf-8")
rinjani1994_VEI3_df['Name'] = "Rinjani"
rinjani1994_VEI3_df['Year'] = "1994"
rinjani1994_VEI3_df['VEI'] = "3"
rinjani1994_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,1994-10-07T23:26:38.270Z,-8.297,116.763,33.0,5.0,mb,NaN,NaN,NaN,1.3,...,NaN,NaN,NaN,14,reviewed,us,us,Rinjani,1994,3
1,1994-09-23T13:53:20.700Z,-8.557,116.760,95.5,4.1,mb,NaN,NaN,NaN,0.8,...,NaN,25.2,NaN,2,reviewed,us,us,Rinjani,1994,3

In [41]:
saintHelens1980_VEI5_df= pd.read_csv(saintHelens1980_VEI5_csv, encoding="utf-8")
saintHelens1980_VEI5_df['Name'] = "SaintHelens"
saintHelens1980_VEI5_df['Year'] = "1980"
saintHelens1980_VEI5_df['VEI'] = "5"
saintHelens1980_VEI5_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,1980-05-20T12:34:31.760Z,46.206333,-122.207667,11.514,3.4,md,20.0,61.0,0.02372,0.12,...,0.495,0.93,0.06,11.0,reviewed,uw,uw,SaintHelens,1980,5
1,1980-05-19T14:21:57.210Z,46.216167,-122.205500,13.763,3.6,md,13.0,92.0,0.07834,0.09,...,0.014,0.04,0.14,1.0,reviewed,uw,uw,SaintHelens,1980,5
2,1980-05-19T09:15:35.680Z,46.195500,-122.182333,4.839,2.9,md,17.0,64.0,0.03758,0.17,...,0.607,0.66,0.06,11.0,reviewed,uw,uw,SaintHelens,1980,5
3,1980-05-19T07:39:32.100Z,46.207333,-122.213167,11.084,3.3,md,21.0,64.0,0.02125,0.14,...,0.702,1.55,0.08,11.0,reviewed,uw,uw,SaintHelens,1980,5
4,1980-05-19T07:18:50.750Z,46.210500,-122.201667,14.454,3.6,md,27.0,58.0,0.02950,0.17,...,0.731,1.24,0.04,12.0,reviewed,uw,uw,SaintHelens,1980,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785,1980-03-24T03:27:35.900Z,46.145667,-122.150667,-1.144,3.0,md,4.0,259.0,0.06082,0.11,...,0.402,0.10,0.03,1.0,reviewed,uw,uw,SaintHelens,1980,5
786,1980-03-23T15:22:42.800Z,46.201000,-122.195500,-1.124,3.5,md,8.0,243.0,0.02936,0.22,...,1.537,0.80,0.06,1.0,reviewed,uw,uw,SaintHelens,1980,5
787,1980-03-22T22:22:42.540Z,46.203667,-122.220833,-0.873,4.2,md,11.0,162.0,0.01484,0.29,...,7.162,9.59,0.07,1.0,reviewed,uw,uw,SaintHelens,1980,5
788,1980-03-21T00:04:03.190Z,46.195000,-122.199833,-0.290,2.7,md,10.0,237.0,0.02541,0.12,...,2.442,0.99,0.06,6.0,reviewed,uw,uw,SaintHelens,1980,5
789,1980-03-20T23:47:43.460Z,46.192000,-122.203833,0.353,4.2,md,12.0,210.0,0.02264,0.18,...,5.165,3.87,0.05,2.0,reviewed,uw,uw,SaintHelens,1980,5

In [52]:
soufriereHills2003_VEI3_df= pd.read_csv(soufriereHills2003_VEI3_csv, encoding="utf-8")
soufriereHills2003_VEI3_df['Name'] = "SoufriereHills"
soufriereHills2003_VEI3_df['Year'] = "2003"
soufriereHills2003_VEI3_df['VEI'] = "3"
soufriereHills2003_VEI3_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2003-04-26T22:50:23.930Z,17.133,-62.282,2,3.1,md,6,313.4,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,fdf,fdf,SoufriereHills,2003,3

In [51]:
spurr1992_VEI4_df= pd.read_csv(spurr1992_VEI4_csv, encoding="utf-8")
spurr1992_VEI4_df['Name'] = "Spurr"
spurr1992_VEI4_df['Year'] = "1992"
spurr1992_VEI4_df['VEI'] = "4"
spurr1992_VEI4_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,1992-09-17T10:43:27.700Z,61.1367,-152.1828,2.3,2.7,ml,NaN,NaN,NaN,0.38,...,NaN,1.7,NaN,NaN,reviewed,ak,ak,Spurr,1992,4
1,1992-09-10T17:45:16.570Z,61.4823,-151.5348,72.7,2.9,ml,NaN,NaN,NaN,0.20,...,NaN,1.5,NaN,NaN,reviewed,ak,ak,Spurr,1992,4
2,1992-08-22T04:27:32.160Z,61.6780,-152.0368,118.4,3.3,ml,NaN,NaN,NaN,0.23,...,NaN,2.0,NaN,NaN,reviewed,ak,ak,Spurr,1992,4

In [50]:
stromboli2001_VEI2_df= pd.read_csv(stromboli2001_VEI2_csv, encoding="utf-8")
stromboli2001_VEI2_df['Name'] = "Strombili"
stromboli2001_VEI2_df['Year'] = "2001"
stromboli2001_VEI2_df['VEI'] = "2"
stromboli2001_VEI2_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2001-10-18T18:08:31.640Z,38.531,14.989,242.2,4.6,mb,221,NaN,NaN,1.15,...,NaN,2.7,NaN,28,reviewed,us,us,Strombili,2001,2

In [55]:
stromboli2002_VEI0_df= pd.read_csv(stromboli2002_VEI0_csv, encoding="utf-8")
stromboli2002_VEI0_df['Name'] = "Strombili"
stromboli2002_VEI0_df['Year'] = "2002"
stromboli2002_VEI0_df['VEI'] = "0"
stromboli2002_VEI0_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2002-12-01T16:18:02.000Z,38.719,14.842,296.5,4.5,mb,250,NaN,NaN,NaN,...,NaN,NaN,NaN,71.0,reviewed,rom,us,Strombili,2002,0
1,2002-11-27T11:31:37.900Z,38.431,15.260,173.0,2.6,md,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Strombili,2002,0

In [59]:
white_Island2019_VEI2_df= pd.read_csv(white_Island2019_VEI2_csv , encoding="utf-8")
white_Island2019_VEI2_df['Name'] = "White_Island"
white_Island2019_VEI2_df['Year'] = "2019"
white_Island2019_VEI2_df['VEI'] = "2"
white_Island2019_VEI2_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2019-11-23T16:34:43.818Z,-37.3696,177.2566,120.50,5.8,mww,NaN,24,0.857,0.91,...,8.4,1.8,0.047,43,reviewed,us,us,White_Island,2019,2
1,2019-11-19T03:21:50.748Z,-37.5560,176.6319,230.79,4.1,mb,NaN,151,0.913,0.53,...,10.3,8.0,0.139,14,reviewed,us,us,White_Island,2019,2

In [68]:
all_frames = [etna2001_VEI3_df, etna2002_VEI3_df, gamala2011_VEI3_df, grimsvotn1996_VEI3_df, hudson1991_VEI5_df, kasatochi2008_VEI3_df, kilauea2000_VEI0_df, kilauea2009_VEI0_df, miyake_jima2000_VEI2_df, nabro2011_VEI3_df, nyiragongo2002_VEI1_df, on_Take2014_VEI3_df, paluweh2013_VEI3_df, pinatubo1991_VEI6_df, puyehue2011_VEI4_df, rabaul1994_VEI3_csv_df, rinjani1994_VEI3_df,saintHelens1980_VEI5_df,soufriereHills2003_VEI3_df, spurr1992_VEI4_df, stromboli2001_VEI2_df, stromboli2002_VEI0_df, white_Island2019_VEI2_df]

In [69]:
all_files = pd.concat(all_frames)

In [72]:
all_files

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Name,Year,VEI
0,2001-04-22T13:56:35.450Z,37.7190,15.0970,10.00,4.1,mb,50.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,reviewed,rom,us,Etna,2001,3
0,2002-08-19T15:03:23.600Z,37.6970,14.9670,5.00,2.8,md,9.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
1,2002-08-19T14:57:59.700Z,37.7210,14.9630,5.00,2.7,md,8.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
2,2002-08-19T12:05:21.700Z,37.7080,14.9650,5.00,2.8,md,10.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
3,2002-08-13T05:29:43.300Z,37.8420,14.6670,5.00,3.2,md,18.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Etna,2002,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2001-10-18T18:08:31.640Z,38.5310,14.9890,242.20,4.6,mb,221.0,NaN,NaN,1.15,...,NaN,2.7,NaN,28.0,reviewed,us,us,Strombili,2001,2
0,2002-12-01T16:18:02.000Z,38.7190,14.8420,296.50,4.5,mb,250.0,NaN,NaN,NaN,...,NaN,NaN,NaN,71.0,reviewed,rom,us,Strombili,2002,0
1,2002-11-27T11:31:37.900Z,38.4310,15.2600,173.00,2.6,md,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,reviewed,rom,rom,Strombili,2002,0
0,2019-11-23T16:34:43.818Z,-37.3696,177.2566,120.50,5.8,mww,NaN,24.0,0.857,0.91,...,8.4,1.8,0.047,43.0,reviewed,us,us,White_Island,2019,2
1,2019-11-19T03:21:50.748Z,-37.5560,176.6319,230.79,4.1,mb,NaN,151.0,0.913,0.53,...,10.3,8.0,0.139,14.0,reviewed,us,us,White_Island,2019,2

In [73]:
all_files.dtypes

time                object
latitude           float64
longitude          float64
depth              float64
mag                float64
magType             object
nst                float64
gap                float64
dmin               float64
rms                float64
net                 object
id                  object
updated             object
place               object
type                object
horizontalError    float64
depthError         float64
magError           float64
magNst             float64
status              object
locationSource      object
magSource           object
Name                object
Year                object
VEI                 object
dtype: object

In [74]:
all_files.count()

time               1187
latitude           1187
longitude          1187
depth              1187
mag                1187
magType            1187
nst                1093
gap                 865
dmin                781
rms                1143
net                1187
id                 1187
updated            1187
place              1187
type               1187
horizontalError     799
depthError          822
magError            803
magNst             1121
status             1187
locationSource     1187
magSource          1187
Name               1187
Year               1187
VEI                1187
dtype: int64

In [75]:
all_files.to_csv("concat.csv",encoding="utf-8", index=False, header=True)

In [77]:
all_files.to_csv("all_files.csv",encoding="utf-8", index=False, header=True)