In [8]:
#import dependencies
import os
import requests
import json
import time
#from config import ow_api
import numpy
import random
import matplotlib.pyplot as plt
import pandas as pd
#add citipy for dealing with city names
#from citipy import citipy
#added scipy linregress to create regression equation further down
from scipy.stats import linregress
import time
import datetime

#API = ow_api

In [9]:
# example URL
# https://earthquake.usgs.gov/fdsnws/event/1/query.geojson?starttime=1991-04-01%2000:00:00&endtime=1991-06-20%2023:59:59&latitude=15.14561&longitude=120.346209&maxradiuskm=50&minmagnitude=2.5&orderby=time

In [10]:
#test to ensure date math is working for our desired 90 day range.
test_date = datetime.date(2015, 10, 10)
days = datetime.timedelta(90)

new_date = test_date - days
print(new_date)

2015-07-12

In [11]:
## get the data from Volcanoes csv
Eruptions = pd.read_csv("data/eruptions.csv", encoding="utf-8")
Eruptions.head()

,Year,Mo,Dy,Name,Location,Country,Latitude,Longitude,Elevation (m),Type,...,Total Deaths,Total Death Description,Total Missing,Total Missing Description,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description
0,1950,8,28,Semeru,Java,Indonesia,-8.108,112.920,3676,Stratovolcano,...,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1950,9,15,Camiguin,Mindanao-Philippines,Philippines,9.203,124.673,1332,Stratovolcano,...,68.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1950,9,23,Asama,Honshu-Japan,Japan,36.400,138.530,2560,Complex volcano,...,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0
3,1951,1,21,Lamington,New Guinea,Papua New Guinea,-8.950,148.150,1680,Stratovolcano,...,2942.0,4.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
4,1951,8,3,Cosiguina,Nicaragua,Nicaragua,12.980,-87.570,872,Stratovolcano,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2.0

In [ ]:
quake_list = []
i= 0
waitingtime = 0
year = 0
month = 0
day = 0
lat = 0
lon = 0
## change i values later
while i < 350:
    year = Eruptions['Year'][i]
    month= Eruptions['Mo'][i]
    day= Eruptions['Dy'][i]
    end_date = datetime.datetime(year, month, day)
    day_range = datetime.timedelta(90)
    start_date = end_date - day_range
    lat = Eruptions['Latitude'][i]
    lon = Eruptions['Longitude'][i]
    
    url = f"https://earthquake.usgs.gov/fdsnws/event/1/query.geojson?starttime={start_date}%2000:00:00&endtime={end_date}%2023:59:59&latitude={lat}&longitude={lon}&maxradiuskm=50&minmagnitude=2.5&orderby=time"
    jsn = requests.get(url).json
    try:
        quake_list.append(jsn)
        i = i + 1
        waitingtime = 0
        print(url)
    except: 
        waitingtime = waitingtime + 1
        print(f"Waiting {waitingtime} seconds")
        time.sleep(1)
            
with open('data/quake_list.json', 'w') as jsonfile:
    json.dump(quake_list, jsonfile)

In [ ]:
# old code from above cell
    #lat = Eruptions[latitude][i]
    #lon = Eruptions[longitude][i]
    #end_year = Eruptions[year][i]
    #end_month = Eruptions[month][i]
    #end_day = Eruptions[day][i]
    #start_date = end_date - 90 days