In [4]:
import json
import pandas as pd

file1 = 'Eruptions1950-2021'
filepath = f'Data/{file1}.csv'

data_eruptions = pd.read_csv(filepath)

data_eruptions

            Search Parameters  ...  Total Houses Destroyed Description
0    ["1950 <= Year >= 2021"]  ...                                 NaN
1                         NaN  ...                                 NaN
2                         NaN  ...                                 NaN
3                         NaN  ...                                 1.0
4                         NaN  ...                                 NaN
..                        ...  ...                                 ...
344                       NaN  ...                                 NaN
345                       NaN  ...                                 NaN
346                       NaN  ...                                 NaN
347                       NaN  ...                                 4.0
348                       NaN  ...                                 NaN

[349 rows x 35 columns]

In [5]:
data_eruptions.dtypes

Search Parameters                      object
Year                                  float64
Mo                                    float64
Dy                                    float64
Tsu                                   float64
Eq                                    float64
Name                                   object
Location                               object
Country                                object
Latitude                              float64
Longitude                             float64
Elevation (m)                         float64
Type                                   object
VEI                                   float64
Agent                                  object
Deaths                                float64
Death Description                     float64
Missing                               float64
Missing Description                   float64
Injuries                              float64
Injuries Description                  float64
Damage ($Mil)                         float64
Damage Description                    float64
Houses Destroyed                      float64
Houses Destroyed Description          float64
Total Deaths                          float64
Total Death Description               float64
Total Missing                         float64
Total Missing Description             float64
Total Injuries                        float64
Total Injuries Description            float64
Total Damage ($Mil)                   float64
Total Damage Description              float64
Total Houses Destroyed                float64
Total Houses Destroyed Description    float64
dtype: object

In [2]:
file2 = 'SaintHelens'
filepath = f'Data/{file2}.csv'

data_saintH = pd.read_csv(filepath)

data_saintH

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,1980-05-20T12:34:31.760Z,46.206333,-122.207667,11.514,3.4,md,20.0,61.0,0.02372,0.12,...,2016-07-24T21:34:47.440Z,"Mount St. Helens area, Washington",earthquake,0.495,0.93,0.06,11.0,reviewed,uw,uw
1,1980-05-19T14:21:57.210Z,46.216167,-122.205500,13.763,3.6,md,13.0,92.0,0.07834,0.09,...,2016-07-24T21:34:11.460Z,"Mount St. Helens area, Washington",earthquake,0.014,0.04,0.14,1.0,reviewed,uw,uw
2,1980-05-19T09:15:35.680Z,46.195500,-122.182333,4.839,2.9,md,17.0,64.0,0.03758,0.17,...,2016-07-24T21:33:53.950Z,"Mount St. Helens area, Washington",earthquake,0.607,0.66,0.06,11.0,reviewed,uw,uw
3,1980-05-19T07:39:32.100Z,46.207333,-122.213167,11.084,3.3,md,21.0,64.0,0.02125,0.14,...,2016-07-24T21:33:46.410Z,"Mount St. Helens area, Washington",earthquake,0.702,1.55,0.08,11.0,reviewed,uw,uw
4,1980-05-19T07:18:50.750Z,46.210500,-122.201667,14.454,3.6,md,27.0,58.0,0.02950,0.17,...,2016-07-24T21:33:45.040Z,"Mount St. Helens area, Washington",earthquake,0.731,1.24,0.04,12.0,reviewed,uw,uw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785,1980-03-24T03:27:35.900Z,46.145667,-122.150667,-1.144,3.0,md,4.0,259.0,0.06082,0.11,...,2016-07-24T21:24:20.880Z,"Mount St. Helens area, Washington",earthquake,0.402,0.10,0.03,1.0,reviewed,uw,uw
786,1980-03-23T15:22:42.800Z,46.201000,-122.195500,-1.124,3.5,md,8.0,243.0,0.02936,0.22,...,2016-07-24T21:24:20.620Z,"Mount St. Helens area, Washington",earthquake,1.537,0.80,0.06,1.0,reviewed,uw,uw
787,1980-03-22T22:22:42.540Z,46.203667,-122.220833,-0.873,4.2,md,11.0,162.0,0.01484,0.29,...,2016-07-24T21:24:19.080Z,"Mount St. Helens area, Washington",earthquake,7.162,9.59,0.07,1.0,reviewed,uw,uw
788,1980-03-21T00:04:03.190Z,46.195000,-122.199833,-0.290,2.7,md,10.0,237.0,0.02541,0.12,...,2016-07-24T21:24:10.750Z,"Mount St. Helens area, Washington",earthquake,2.442,0.99,0.06,6.0,reviewed,uw,uw
789,1980-03-20T23:47:43.460Z,46.192000,-122.203833,0.353,4.2,md,12.0,210.0,0.02264,0.18,...,2016-07-24T21:24:10.400Z,"Mount St. Helens area, Washington",earthquake,5.165,3.87,0.05,2.0,reviewed,uw,uw

In [3]:
# use for everything else
data_eruptions.to_json(f'Data/{file1}.json', orient='index')

In [4]:
data_saintH.to_json(f'Data/{file2}.json', orient='index')